@import url("normalize.css");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  text-align: center;
}
/*
.main .boxes {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}
.main .boxes .box img {
  flex: 1 1 auto;
}
.main .boxes .box{
  display: block;
  width: 100%;
}
*/
.main .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
}
.main .boxes .box img{
  display: block;
  width: 100%;
}
footer address {
  font-style: normal;
}
footer a {
  display: block;
}
