@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap');
/* NOTE: This is a comment */
body {
    font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #767676;
    background-color: #ffffff;
    }
    header {
      background-color: yellow !important;
    }
      .main .boxes {
          background-color: orange;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
      }
      #mainID{
        color: blue;
      }
